.messageItem{
  border:1px solid grey;
  padding: 10px;
  margin: 10px 0 ;
}

.container{
  padding: 0 10px ;
  background-color: white;
  max-width: 800px;
  width: 100%;
  min-width: 400px;
  border: 1px solid grey;
}

