.container{
  display: flex;
  justify-content: center;
  background-color: #E7EBF0;
  box-sizing: border-box;
}

@import "src/components/ChatList/ChatList.module";

.itemContainer{
  @extend .itemContainer;
}