
.container{
  min-height: 100vh;
  min-width: 200px;
  border: 1px solid grey;
  background-color: white;
}

.itemContainer{
  cursor: pointer;
  min-height: 30px;
  padding: 10px;
  min-width: 80px;


  vertical-align: middle;
  text-align:center;
}


.itemContainer:hover{
  background-color: #E7EBF0;

}

.selectedItemContainer{
  background-color: #E7EBF0;
}